services:
  nginx:
    container_name: nginx
    depends_on:
      - wordpress
    ports:
      - "443:443"
    env_file:
      - ./.env
    build:
      context: ./requirements/nginx
      dockerfile: Dockerfile
    networks:
      - netwrk
    volumes:
      - vl_wp:/var/www/html
    restart: always
  
  mariadb:
    container_name: mariadb
    ports:
      - "3306:3306"
    env_file:
      - ./.env
    build:
      context: ./requirements/mariadb
      dockerfile: Dockerfile
      args:
        MYSQL_USER: ${MYSQL_USER}
        MYSQL_PASSWORD: ${MYSQL_PASSWORD}
        MYSQL_DATABASE: ${MYSQL_DATABASE}
        MYQL_ROOT_PASSWORD: ${MYQL_ROOT_PASSWORD}
    networks:
      - netwrk
    volumes:
      - vl_db:/var/lib/mysql
    restart: always
  
  wordpress:
    container_name: wordpress
    depends_on:
      - mariadb
    ports:
      - "9000:9000"
    env_file:
      - ./.env
    build:
      context: ./requirements/wordpress
      dockerfile: Dockerfile
    networks:
      - netwrk
    volumes:
      - vl_wp:/var/www/html
    restart: always



volumes:
  vl_wp:
    name: vl_wp
    driver: local
    driver_opts:
      o: bind
      type: none
      device: /Users/ouissal/Desktop/data/vl_wp
  vl_db:
    name: vl_db
    driver: local
    driver_opts:
      o: bind
      type: none
      device: /Users/ouissal/Desktop/data/vl_db

networks:
  netwrk:
    driver: bridge